
/* 
container
    header
    centerContent
        backButton
        centerDiv
        nextButton
    footerNav
        nav
            navItem
*/

.header{
    text-align: center;
}

.centerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "backButton centerDiv nextButton";
    justify-items: center;
    align-items: center;
}

.backButton{
    grid-area: backButton;
}

.centerDiv{
    grid-area: centerDiv;
}

.nextButton{
    grid-area: nextButton;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




